@charset "UTF-8";
/* CSS Document */

#wrapper {
    	margin-left: auto;
    	margin-right: auto;
        max-width: 480px;
        height: 100%;
}
    
/* HEADER */

    header {
        width: 100%;
    }
    
        #headerTop {
            width: 100%;
            min-height: 7px;
        	background-color: #97235A;
        }
    
        #headerBottom {
            width: 100%;
            min-height: 65px;
        	background-image:url(pics/header_bg.png);
        	background-color: #D06C9B;
        }
    
/* HEADMENU */
    
    nav {
        margin: 0px;
        padding: 0px;
        min-height: 237px;
        width:100%;
        float:none;
        background-color: #FFF;
    }
    
        #headmenu ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
            font-size: 18px;
        }
        
        #headmenu ul li a {
            display: block;
            background: #d9d9d9;
            /*width: 450px;*/
            text-decoration: none;
            padding: 20px 0px 20px 20px;
            margin: 1px 0px 0px 0px;
            border-left: 10px solid #97235A;
            color: #333333;
    
        }
        
            #headmenu ul li a:hover {
                border-left-color: #56869D;
                color: #56869D;
                background: #c4c4c4;
            }
            
            #headmenu ul li a:active {
                border-left-color: #1F5873;
                color: #1F5873;
                background: #c4c4c4;
            }
            
            #headmenu .active {
                border-left-color: #1F5873;
                color: #333333;
                background: #c4c4c4;
            } 
            
            #headmenu a {
                background-image:none;
            } 
            
            #headmenu #homepage:hover {
                background-image:none;
                background-repeat: no-repeat;
                background-position: 200px 12px;
            }
        
            #headmenu #homepage {
                background-image:none;
                background-repeat: no-repeat;
                background-position: 200px -36px;
            } 
        
            #headmenu #aboutpage:hover {
                background-image:none;
                background-repeat: no-repeat;
                background-position: 200px -180px;
            }
            
            #headmenu #aboutpage {
                background-image:none;
                background-repeat: no-repeat;
                background-position: 200px -228px;
            }
        
            #headmenu #labpage:hover {
                background-image:none;
                background-repeat: no-repeat;
                background-position: 200px -84px;
            }
            
            #headmenu #labpage {
                background-image:none;
                background-repeat: no-repeat;
                background-position: 200px -132px;
            }
            
            #headmenu #contactpage:hover {
                background-image:none;
                background-repeat: no-repeat;
                background-position: 200px -276px;
            }
        
            #headmenu #contactpage {
                background-image:none;
                background-repeat: no-repeat;
                background-position: 200px -324px;
            }
    
/* ASIDE */

    #sidefield {
            display: none;
        }
        
/* CONTENT */

    main {
        width: 100%;
        float: left;
        padding: 0px;
        margin: 0px 0px 0px 0px;
        background-color: #FFF;
    }
    
    #contenthome {
        width: 100%;
        background-color: #FFF;
    }
    
        #mainheader {
            width: 90%;
            float: none;
            height: auto;
            margin: 0% 5% 20px 5%;
        }
        
        .blogg {
            float: none;
            padding: 0px 0px 40px 0px;
        	margin: 0px 0px 0px 0px;
            width: 90%;
        	clear: both;
        	margin: 5%;
        }
    
        #hcard-Joakim-Torbjorn-Holmevi {
            width: 90%;
            float: none;
            height: auto;
            margin: 0% 5% 0 5%;
        }
        
        .blogg table {
            width: 100%;
            overflow-x: scroll;
        }
        
        .comments {
            width: 90%;
            margin-bottom: 30px;
        }
    
/* FOOTER */

    #bottom {
        max-width: 480px;
        height: 173px;
        /* total width 1000 */
        /* total height 253 */
        background-color: #2A2A2A;
        border-style: solid;
        border-color: #97235A;
        border-width: 10px 0px 0px 0px;
        clear: both;
        background-image:url(pics/footer_bg.png);
    }
    
        #footerNav {
            padding-top: 30px;
            width: 100%;
            margin: auto;
        }
    
            footer li { 
            	font-size: 18px;
            	margin-right: 40px;
            	margin-left: 20px;
            	margin-bottom: 14px;
            	display:block;
            }
    
/* IMAGES AND VIDEOS */
    
    .bloggVideo {
        max-width: 100px;
        width: 100%;
        padding: 7px 0px 0px 0px;
    }
    
    .logotyp {
        max-height: 50px;
        padding: 7px 0px 0px 20px;
    }
    
    .profilbild {
        padding: 0px 20px 10px 0px;
        float: left;
        max-width: 140px;
        width: 100%;
    }
    
    .bloggbild {
        max-width: 100%;
        width: 100%;
        padding: 0px 0px 10px 0px;
    }
    
    .bloggBild_right {
        max-width: 100%;
        width: 100%;
        padding: 0px 0px 10px 0px;
    }
    
    .bloggBild_left {
        max-width: 100%;
        width: 100%;
        padding: 0px 0px 10px 0px;
    }
    
    .bloggbild {
        width: 100%;
        padding: 0px 0px 10px 0px;
    }
    
/* GENERAL CLASSES */
    
    .borderRadius {
    	-webkit-border-radius: 0px;
    	-moz-border-radius: 0px;
    	border-radius: 0px;
    }
    
    .bloggContent {
        clear: both;
        height: auto;
    	padding-bottom: 20px;
    }
    
    .bloggInfo p {
    	font-size: 12px;
    	line-height: 0;
        display: block;
    }
    
    .floatleft {
    	float: none;
    }
    
    .floatright {
    	float: none;
    }
    

    
/* FORM */
/* 
Hittade lite nyttig hjälp på mozilla developer för att ändra utseendet på checkboxarna 
Källa: https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/Forms/Advanced_styling_for_HTML_forms
*/
    
    .form {
        height: auto;
    	margin: 30px;
    }
    
    form    {
        line-height: 24px;
        color: #333333;
        border: 2px solid #56869D;
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        margin: 30px 0px 30px 0px;
        padding: 30px;
        display: inline-block;
    }
    
        fieldset {
            border : 1px dotted #56869D;
            border-radius: 5px;
            margin : 0;
            padding: 20px;
        }
        
            #set_form p {
                padding-top: 12px;
            }
            
            #contact_info {
                margin-top: 20px;
                margin-bottom: 30px;
            }
            
            legend {
                font-size: 18px;
            }

            label {
                cursor: pointer;
            }
            
            form p {
                margin: 0;
            }
            
            form p+p {
                margin: .5em 0 0;
            }
            
            input[type=text], input[type=submit], textarea, select {
                -webkit-appearance: none;     /* Tar bort standardutseendet på elementen */
            }
   
   
            select {
               border: 1px solid #1F5873;
               padding: 6px;
               font-size: 15px;
               line-height: 17px;
               width: 80%;
               background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc));
               -webkit-appearance: none;
               -webkit-box-shadow: 1px 1px 1px #fff;
               -webkit-border-radius: 0.5em;
             }
         
            /* original check box are push outside the viexport */
            :root input[type=checkbox] {
              position: absolute;
              left: -1000em;
            }
        
            :root input[type=checkbox] + label:before {
              content: "";
              display: inline-block;
              width  : 19px;
              height : 19px;
              margin : 0 .5em 0 0;
              background: url("pics/checkbox_sprite2.png") no-repeat 0 0;
            
            /* The following is used to adjust the position of 
               the check boxes on the text baseline */
            
              vertical-align: bottom;
              position: relative;
              bottom: 2px;
            }
        
            :root input[type=checkbox]:checked + label:before {
              background-position: 0 -19px;
            }
            
            :root input[type=checkbox]:disabled + label:before {
              background-position: 0 -38px;
            }
            
            :root input[type=checkbox]:checked:disabled + label:before {
              background-position: 0 -57px;
            }
              
            :root input[type=checkbox]:focus {
              outline: 1px dotted black;
            }
         
            select {
               background: url("pics/form_list_bg.png") no-repeat right;
               background-size: auto 32px;
             }
         
            input[type=text], textarea {
               border: 1px solid #1F5873;
               padding: 7px;
               font-size: 15px;
               line-height: 17px;
               width: 90%;
               background-color: #e3eaed;
               -webkit-appearance: none;
               -webkit-box-shadow: 1px 1px 1px #fff;
               -webkit-border-radius: 0.5em;
             }
         
            input[type=submit] {
               border: 1px solid #1F5873;
               padding: 14px;
               font-size: 14px;
               line-height: 17px;
               width: 50%;
               color: #FAFAFA;
               background: -webkit-gradient(linear, left top, left bottom, from(#56869D), to(#032D42));
               -webkit-appearance: none;
               -webkit-box-shadow: 1px 1px 1px #fff;
               -webkit-border-radius: 0.5em;
             }