/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	font-family: "Open Sans", Helvetica, sans-serif;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, container {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

container {
    max-width: 1000px;
    height: auto;
}

header {
    max-width: 1000px;
}

nav {
    max-width: 250px;
    float: left;
}

content {
    min-width: 750px;
    float: right;
}

footer {
    max-width: 1000px;
    clear: both;
}

h1 {
    font-size: 32px;
    font-family: "Mundo Sans W01 Medium",Helvetica,sans-serif;
	font-weight: 400;
}

h2 {
    font-size: 24px;
    font-family: "Mundo Sans W01 Medium",Helvetica,sans-serif;
}

h3 {
    font-size: 18px;
}

dt {
   	font-size: 18px;
}

/* IMAGES */

.logotyp {
    max-height: 150px;
    padding: 5px;
}