@charset "UTF-8";
/* CSS Document */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/*
	Main #97235A (Pink)
		Light main #D06C9B #AF4074
		Dark main #7B0E42 #58002A
	Secondary #1F5873 (Blue)
		Light aside #56869D #346B85
		Dark aside #0F445D #032D42
	Filler #B59D2A (Mustard)
		Light header #F9E482 #D2BB4C
		Dark header #947D11 #695700
	Text links #7B0E42
	Dark text #1D1D1D
	Light text #FAFAFA
	Footer #2A2A2A
*/

html, body, div, span, applet, object, iframe,
/* h1, h2, h3, h4, h5, h6, */ p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset,/* form, label, legend,*/
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-style: inherit;
    font-family: "Mundo Sans W01 Medium",Helvetica,sans-serif;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, container {
	display: block;
}
body {
	line-height: 1;
}
ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	overflow-y:scroll;
	/* Fixar marginalen på sidor som inte har scroll */
}

#wrapper {
	margin-left: auto;
	margin-right: auto;
    max-width: 1000px;
    height: 100%;
}

header {
    width: 1000px;
}

#headerTop {
    width: 1000px;
    min-height: 10px;
	background-color: #97235A;
}

#headerBottom {
    width: 1000px;
    min-height: 95px;
	background-image:url(pics/header_bg.png);
	background-color: #D06C9B;
}

#divTextlogo {
    margin: 30px 0px 0px 30px;
    float: left;
	font-weight:100;
	font-size:30px;
    color: #FAFAFA;
}

#content {
    width: 730px;
    float: right;
    padding-bottom: 20px;
    margin: 30px 0px 30px 0px;
    /* total width 730 */
    background-color: #FFF;
}

#contentTop {
    height: auto;
    padding-top: 15px;
    margin: 0px 40px 0px 40px;
}

footer {
    max-width: 1000px;
    height: 173px;
    /* total width 1000 */
    /* total height 253 */
    background-color: #2A2A2A;
    border-style: solid;
    border-color: #97235A;
    border-width: 10px 0px 0px 0px;
    clear: both;
}

#footerNav {
    padding-top: 30px;
    width: 440px;
    margin: auto;
}



/* HEADERS, LISTS AND TEXT */

h1 {
    font-size: 32px;
    font-family: "Mundo Sans W01 Medium",Helvetica,sans-serif;
	font-weight: 400;
	color: #AF4074;
}

h2 {
    font-size: 24px;
    font-family: "Mundo Sans W01 Medium",Helvetica,sans-serif;
}

h3, {
    font-size: 18px;
}

h4 {
    font-size: 18px;
    font-family: "Mundo Sans W01 Medium",Helvetica,sans-serif;
}

span {
    font-family: "Mundo Sans W01 Medium",Helvetica,sans-serif;
}

/* IMAGES AND VIDEOS */

.bloggVideo {
    max-width: 600px;
    padding: 7px 0px 0px 20px;
}

.logotyp {
    max-height: 80px;
    padding: 7px 0px 0px 20px;
}

.profilbild {
    padding: 0px 20px 10px 0px;
    float: left;
    max-width: 140px;
}

/* FIXED CLASSES */

.borderRadius {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.blogg {
    height: auto;
	padding: 0px 0px 40px 0px;
	margin: 40px;
    border-style: solid;
    border-color: #ACACAC;
    border-width: 0px 0px 1px 0px;
}

.blogg p {
	padding-bottom: 20px;
}

.bloggContent {
	padding-bottom: 20px;
}

.bloggInfo {
    padding-top: 10px;
    border-style: dotted;
    border-color: #D9D9D9;
    border-width: 1px 0px 0px 0px;
}

.bloggInfo p, .bloggInfo a {
	font-size: 12px;
    font-family: "Mundo Sans W01 Medium",Helvetica,sans-serif;
    display: inline;
}

.blogg table {
    width: 600px;
}

.blogg table, .blogg tr, .blogg th, .blogg td {
    padding: 5px;
	border: solid 1px;
	border-color: #455;
}

.labList dd, .labList ol {
	margin-left: 35px;
}

.labList li, .labList dt, .labList dd, .labList p {
    font-family: "Mundo Sans W01 Medium",Helvetica,sans-serif;
	font-size: 16px;
}

.labList a, .labList dt, .labList dd, .labList ul {
    font-family: "Mundo Sans W01 Medium",Helvetica,sans-serif;
	font-size: 14px;
}

.labList dt, .labList dd, .labList li, .labList dt, .labList dd, .labList p {
	padding-bottom: 5px;
}

.ingress {
	font-weight: 800;
	padding-bottom: 20px;
}

.floatleft {
	float: left;
}

.floatright {
	float: right;
}

/* LINKS */

a:link {     
    color:#AF4074; 
    text-decoration:none; 
}
a:visited { 
    color:#AF4074; 
    text-decoration:none;
}
a:hover { 
    color:#56869D; 
    text-decoration:underline;
}
a:active { 
    color:#56869D; 
    text-decoration:underline; 
}

footer a:link { color:#FFF;  }
footer a:visited { color:#FFF;  }
footer a:hover { color:#FFF;  }
footer a:active { color:#FFF;  }

footer li { 
	font-size: 18px;
	margin-right: 20px;
	display:inline;
}


/* HEADMENU */

nav {
    width: 250px;
    min-height: 300px;
    padding-top: 30px;
    padding-bottom: 20px;
    margin: 30px 0px 25px 0px;
    float: left;
    background-color: #FFF;
}

#headMenu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 18px;
}

#headMenu ul li a {
    display: block;
    background: #d9d9d9;
    width: 220px;
    text-decoration: none;
    padding: 15px 0px 15px 20px;
    margin: 1px 0px 0px 0px;

    border-left: 10px solid #97235A;
    color: #333333;
}

#headMenu ul li a:hover {
    border-left-color: #56869D;
    color: #56869D;
    background: #c4c4c4;
}

#headMenu ul li a:active {
    border-left-color: #1F5873;
    color: #1F5873;
    background: #c4c4c4;
}


/* Fick ta till lite hjälp
Källa: http://www.mstudiostalk.com/2008/03/11/pure-css-to-display-the-active-page-in-the-navigation/
*/

#home a.active,
#presentation a.active,
#laborations a.active,
#contact a.active
{
    border-left-color: #1F5873;
    color: #333333;
    background: #c4c4c4;
}


/* FORM */

.form {
    width: 500px;
    height: auto;
	margin: 40px;
}

form    {
    font-family: "Mundo Sans W01 Medium",Helvetica,sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #333333;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    margin-top: 30px;
    padding: 20px;
    border-radius: 6px;
    border: 1px dotted #999;
}

fieldset {
    font-family: "Mundo Sans W01 Medium",Helvetica,sans-serif;
    font-size: 14px;
}

legend {
    font-family: "Mundo Sans W01 Medium",Helvetica,sans-serif;
    font-size: 18px;
}

.formContent {
    margin-left: 10px;
}