@charset "UTF-8";
/* CSS Document */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/*
	Main #97235A (Pink)
		Light main #D06C9B #AF4074
		Dark main #7B0E42 #58002A
	Secondary #1F5873 (Blue)
		Light aside #e3eaed #346B85
		Dark aside #0F445D #032D42
	Filler #B59D2A (Mustard)
		Light header #F9E482 #D2BB4C
		Dark header #947D11 #695700
	Text links #7B0E42
	Dark text #1D1D1D
	Light text #FAFAFA
	Footer #2A2A2A
*/

html, body, div, span, applet, object, iframe,
/* h1, h2, h3, h4, h5, h6, */ p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
/*fieldset, form, label, legend,*/
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-style: inherit;
    font-family: "Mundo Sans W01 Medium",Helvetica,sans-serif;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, main, menu, nav, section, container {
	display: block;
}

html {
    	overflow-y:scroll;     /* Fixar marginalen på sidor som inte har scroll */
}
    
body {
    background-color:#d1d1d1;
	line-height: 1;
}
    
    ul {
    	list-style: none;
    }
    
    blockquote, q {
    	quotes: none;
    }
    
    blockquote:before, blockquote:after,
    q:before, q:after {
    	content: '';
    	content: none;
    }
    
    table {
    	border-collapse: collapse;
    	border-spacing: 0;
    }
    
    
    
#wrapper {
	margin-left: auto;
	margin-right: auto;
    max-width: 1000px;
    height: 100%;
}
    
    header #top {
        width: 1000px;
    }
    
    header .asideheader {
        
    }
    
        #headerTop {
            width: 1000px;
            min-height: 10px;
        	background-color: #97235A;
        }
        
        #headerBottom {
            width: 1000px;
            min-height: 95px;
        	background-image:url(pics/header_bg.png);
        	background-color: #D06C9B;
        }
    
        #divTextlogo {
            margin: 30px 0px 0px 30px;
            float: left;
        	font-weight:100;
        	font-size:30px;
            color: #FAFAFA;
        }
        
/* HEADMENU */
    
    nav {
        width: 220px;
        min-height: 300px;
        padding-top: 30px;
        padding-bottom: 20px;
        margin: 30px 0px 25px 0px;
        float: left;
        background-color: #FFF;
    }
    
        #headmenu ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
            font-size: 18px;
        }
        
        #headmenu ul li{float:left; width:100%;}
        
        #headmenu ul li a {
            display: block;
            background: #d9d9d9;
            /*width: 220px;*/
            text-decoration: none;
            padding: 15px 0px 15px 20px;
            margin: 1px 0px 0px 0px;
            border-left: 10px solid #97235A;
            color: #333333;
    
        }
        
            #headmenu ul li a:hover {
                border-left-color: #56869D;
                color: #56869D;
                background: #c4c4c4;
            }
            
            #headmenu ul li a:active {
                border-left-color: #1F5873;
                color: #1F5873;
                background: #c4c4c4;
            }
            
            #headmenu .active {
                border-left-color: #1F5873;
                color: #333333;
                background: #c4c4c4;
            } 
            
            #headmenu a {
                background-image:url(pics/sprite.png);
            } 
            
            #headmenu #homepage:hover {
                background-image:url(pics/sprite.png);
                background-repeat: no-repeat;
                background-position: 175px 12px;
            } 
        
        
            #headmenu #homepage {
                background-image:url(pics/sprite.png);
                background-repeat: no-repeat;
                background-position: 175px -36px;
            } 
        
            #headmenu #aboutpage:hover {
                background-image:url(pics/sprite.png);
                background-repeat: no-repeat;
                background-position: 175px -180px;
            }
            
            #headmenu #aboutpage {
                background-image:url(pics/sprite.png);
                background-repeat: no-repeat;
                background-position: 175px -228px;
            }
        
            #headmenu #labpage:hover {
                background-image:url(pics/sprite.png);
                background-repeat: no-repeat;
                background-position: 175px -84px;
            }
            
            #headmenu #labpage {
                background-image:url(pics/sprite.png);
                background-repeat: no-repeat;
                background-position: 175px -132px;
            }
            
            #headmenu #contactpage:hover {
                background-image:url(pics/sprite.png);
                background-repeat: no-repeat;
                background-position: 175px -276px;
            }
        
            #headmenu #contactpage {
                background-image:url(pics/sprite.png);
                background-repeat: no-repeat;
                background-position: 175px -324px;
            }
    
/* ASIDE */

    #sidefield {
        font-size: 14px;
        float: right;
        height: auto;
        max-width: 170px;
        width: 100%;
        padding: 30px;
        margin: 30px 0px 30px 0px;
        /* total width 730 */
        background-color: #FFF;
    }
    
    #sidefield p {
        padding-top: 5px;
    }
    
/* MAIN CONTENT */

    main {
        width: 670px;
        float: left;
        padding: 30px;
        margin: 30px 0px 30px 20px;
        /* total width 730 */
        background-color: #FFF;
    }
    
    #contenthome {
        width: 450px;
    }
    
        #mainheader {
            width: 100%;
            float: left;
            height: auto;
            margin: 0px 0px 20px 0px;
            border-style: double;
            border-color: #D9D9D9;
            border-width: 0px 0px 4px 0px;
        }
        
            #mainheader h4 {
                margin-top: -10px;
            }
        
                #home .blogg {
                    max-width: 470px;
                    clear: none;
                }
                
                .blogg {
                    float: left;
                    max-width: 100%;
                    height: 100%;
                	padding: 0px 0px 40px 0px;
                	margin: 0px 0px 40px 0px;
                    border-style: dotted;
                    border-color: #D9D9D9;
                    border-width: 0px 0px 1px 0px;
                    clear: both;
                }
                
                    #hcard-Joakim-Torbjorn-Holmevi {
                    
                    }
                
                    .blogg p {
                	padding-bottom: 20px;
                    }
                    
                    .bloggContent {
                        height: auto;
                    	padding-bottom: 20px;
                    }
                    
                    .bloggInfo {
                        padding-top: 10px;
                        padding-bottom: 10px;
                        border-style: dotted;
                        border-color: #D9D9D9;
                        border-width: 1px 0px 0px 0px;
                        clear: both;
                    }
                    
                    .bloggInfo p, .bloggInfo a {
                    	font-size: 12px;
                        display: inline;
                    }
                    
                    .comments {
                        width: 90%;
                        float: left;
                        background-color: #F1F1F1;
                        padding: 0px 20px 0px 20px;
                        border-style: solid;
                        border-color: #D9D9D9;
                        border-width: 0px 0px 5px 0px;
                    }
                    
                    .comment {
                        display: inline-block;
                        line-height: 2px;
                    	font-size: 12px;
                        width: 90%;
                    }
                    
                    .commentlink {
                        display: inline-block;
                    	font-size: 12px;
                        width: 100%;
                    }
                    

    
/* FOOTER */

    #bottom {
        max-width: 1000px;
        height: 173px;
        /* total width 1000 */
        /* total height 253 */
        background-color: #2A2A2A;
        border-style: solid;
        border-color: #97235A;
        border-width: 10px 0px 0px 0px;
        clear: both;
        background-image:url(pics/footer_bg.png);
    }
    
        #footerNav {
            padding-top: 30px;
            width: 440px;
            margin: auto;
        }
    
    
    
/* HEADERS, LISTS AND TEXT */
    
    h1 {
        font-size: 32px;
    	font-weight: 400;
    	color: #AF4074;
    }
    
    h2 {
        font-size: 24px;
    }
    
    h3 {
        font-size: 18px;
    }
    
    h4 {
        font-size: 14px;
    }
    
    .bloggContent H2 {
        padding-left: 30px;
        padding-bottom: 14px;
        background-image:url(pics/blogicon.png);
        background-repeat: no-repeat;
        background-size: 23px 23px;
    }
    
    .ingress {
    	font-weight: 800;
    	padding-bottom: 20px;
    }
    
/* IMAGES AND VIDEOS */
    
    .bloggVideo {
        max-width: 450px;
        padding: 7px 0px 0px 0px;
    }
    
    .logotyp {
        max-height: 80px;
        padding: 7px 0px 0px 20px;
    }
    
    .profilbild {
        padding: 0px 20px 10px 0px;
        float: left;
        max-width: 140px;
    }
  
    .bloggbild {
        max-width: 450px;
        padding: 0px 0px 20px 0px;
    }
    
    .bloggBild_right {
        max-width: 220px;
        padding: 0px 0px 10px 15px;
    }
    
    .bloggBild_left {
        max-width: 220px;
        padding: 0px 15px 10px 0px;
    }
    
    
    
/* GENERAL CLASSES */
    
    .borderRadius {
    	-webkit-border-radius: 6px;
    	-moz-border-radius: 6px;
    	border-radius: 6px;
    }
    
    
    
    .displayinline {
        display: inline;
    }
    
    .blogg table {
        width: 600px;
    }
    
    .blogg table, .blogg tr, .blogg th, .blogg td {
        padding: 5px;
    	border: solid 1px;
    	border-color: #455;
    }
    
    .labList dd, .labList ol {
    	margin-left: 35px;
    }
    
    .labList li, .labList dt, .labList dd, .labList p {
    	font-size: 16px;
    }
    
    .labList a, .labList dt, .labList dd, .labList ul {
    	font-size: 14px;
    }
    
    .labList dt, .labList dd, .labList li, .labList dt, .labList dd, .labList p {
    	padding-bottom: 5px;
    }
    
    .floatleft {
    	float: left;
    }
    
    .floatright {
    	float: right;
    }
    
    .clearboth {
    	clear: both;
    }
    
    .rightalign {
        text-align: right;
    }
    
/* LINKS */
    
    a:link {     
        color:#AF4074; 
        text-decoration:none; 
    }
    a:visited { 
        color:#AF4074; 
        text-decoration:none;
    }
    a:hover { 
        color:#56869D; 
        text-decoration:underline;
    }
    a:active { 
        color:#56869D; 
        text-decoration:underline; 
    }
    
    #bottom a:link { color:#FFF;  }
    #bottom a:visited { color:#FFF;  }
    #bottom a:hover { color:#FFF;  }
    #bottom a:active { color:#FFF;  }
    
    #bottom li { 
    	font-size: 18px;
    	margin-right: 20px;
    	display:inline;
    }
    
    

    
    
    
/* FORM */
/* 
Hittade lite nyttig hjälp på mozilla developer för att ändra utseendet på checkboxarna 
Källa: https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/Forms/Advanced_styling_for_HTML_forms
*/
    
    .form {
        
        height: auto;
    	margin: 0px;
    }
    
        form {
            float: left;
            line-height: 24px;
            color: #333333;
            border: 2px solid #56869D;
            border-radius: 6px;
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            margin: 30px 0px 0px 0px;
            padding: 30px;
            display: inline-block;
        }
        
            #observe {
                clear: both;
                padding-top: 20px;
                margin-top: 20px;
            }
            
            fieldset {
                border : 1px dotted #56869D;
                border-radius: 5px;
                margin : 0;
                padding: 20px;
            }
            
                #set_form p {
                    padding-top: 12px;
                }
                
                #contact_info {
                    margin-top: 20px;
                    margin-bottom: 30px;
                }
                
                legend {
                    font-size: 18px;
                }
            
                label {
                  cursor: pointer;
                }
                
                form p {
                  margin: 0;
                }
                
                form p+p {
                  margin: .5em 0 0;
                }
                
                input[type=text], input[type=submit], textarea, select {
                    -webkit-appearance: none;     /* Tar bort standardutseendet på elementen */
                }
               
               
                select {
                    border: 1px solid #1F5873;
                    padding: 6px;
                    font-size: 15px;
                    line-height: 17px;
                    width: 80%;
                    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc));
                    -webkit-appearance: none;
                    -webkit-box-shadow: 1px 1px 1px #fff;
                    -webkit-border-radius: 0.5em;
                }
             
                /* original check box are push outside the viexport */
                :root input[type=checkbox] {
                    position: absolute;
                    left: -1000em;
                }
            
                :root input[type=checkbox] + label:before {
                    content: "";
                    display: inline-block;
                    width  : 19px;
                    height : 19px;
                    margin : 0 .5em 0 0;
                    background: url("pics/checkbox_sprite2.png") no-repeat 0 0;
                    
                    /* The following is used to adjust the position of 
                    the check boxes on the text baseline */
                    
                    vertical-align: bottom;
                    position: relative;
                    bottom: 2px;
                }
            
                :root input[type=checkbox]:checked + label:before {
                    background-position: 0 -19px;
                }
            
                :root input[type=checkbox]:disabled + label:before {
                    background-position: 0 -38px;
                }
                
                :root input[type=checkbox]:checked:disabled + label:before {
                    background-position: 0 -57px;
                }
                  
                :root input[type=checkbox]:focus {
                    outline: 1px dotted black;
                }
                 
                select {
                    background: url("pics/form_list_bg.png") no-repeat right;
                    background-size: auto 32px;
                }
                 
                input[type=text], textarea {
                    border: 1px solid #1F5873;
                    padding: 7px;
                    font-size: 15px;
                    line-height: 17px;
                    width: 80%;
                    background-color: #e3eaed;
                    -webkit-appearance: none;
                    -webkit-box-shadow: 1px 1px 1px #fff;
                    -webkit-border-radius: 0.5em;
                 }
                 
                input[type=submit] {
                    border: 1px solid #1F5873;
                    padding: 14px;
                    font-size: 18px;
                    line-height: 17px;
                    width: 50%;
                    color: #FAFAFA;
                    background: -webkit-gradient(linear, left top, left bottom, from(#56869D), to(#032D42));
                    -webkit-appearance: none;
                    -webkit-box-shadow: 1px 1px 1px #fff;
                    -webkit-border-radius: 0.5em;
                 }