@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light);

html {
	font-family: 'Shadows Into Light', cursive;
}

#container {
    margin-left: auto;
	margin-right: auto;
    max-width: 1200px;
    height: 100%;
}

#images {
	margin: 40px;
}

img {
	max-width: 200px;
}